{% extends 'theme.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'about.css' %}">
</head>
<body>
    <section id="header">
        <h1> Wishing you the best of experiences </h1>
        <h2>with us at M.C Healthcare.</h2>


    </section>
    <section class="main-one">
        <h1>M.C Hospital</h1>
        <br>
        <p>
            M.C Hospitals was established in 1983 by Dr. Prathap C Reddy, renowned as the architect of modern healthcare in India. As the nation’s first corporate <br> hospital, M.C Hospitals is acclaimed for pioneering the private healthcare revolution in the country. <br> <br>M.C Hospitals has emerged as Asia’s foremost integrated healthcare services provider and has a robust presence across the healthcare ecosystem, <br>including Hospitals, Pharmacies, Primary Care & Diagnostic Clinics and several retail health models. The Group also has Telemedicine facilities across <br>several countries, Health Insurance Services, Global Projects Consultancy, Medical Colleges, Medvarsity for E-Learning, Colleges of Nursing and Hospital <br>Management and a Research Foundation. In addition, ‘ASK M.C’ – an online consultation portal and Apollo Home Health provide the care continuum. <br><br>
        </p>
        <p>
            The cornerstones of M.C’s legacy are its unstinting focus on clinical excellence, affordable costs, modern technology and forward-looking research & <br> academics. M.C Hospitals was among the first few hospitals in the world to leverage technology to facilitate seamless healthcare delivery. <br> The organization embraced the rapid advancement in medical equipments across the world, and pioneered the introduction of several cutting edge innovations in India. <br> Recently, South East Asia’s first Proton Therapy Centre commenced operations at the M.C Centre in Chennai. <br> <br>
        </p>
        <p>
            Since its inception, M.C Hospitals has been honoured by the trust of over 150 million individuals who came from 140 countries. At the core of M.C’s <br> patient-centric culture is TLC (Tender Loving Care), the magic that inspires hope amongst its patients. <br> <br>
        </p>
        <p>
            Dr. Prathap C Reddy, Founder Chairman of the M.C Hospitals Group has been conferred with the prestigious Padma Vibhushan, India’s second highest <br> civilian award. <br><br>
        </p>

        <div class="row mb-4" style="margin-left: 100px;">
            <div class="col-sm-5">
              <div class="card" style="border: none; background-color: rgba(0, 0, 0, 0);">
                <div class="card-body">
                  <h5 class="card-title text-center" style="font-family:'Formular' ; color: rgb(27, 27, 126); font-size: 50px; font-weight: bold;">Our Vision & Mission</h5>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/d/df/Family_Portrait.jpg" class="card-img-top" alt="..." style="height: 450px;">
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="card" style="border: none; background-color: rgba(0, 0, 0, 0);">
                <div class="card-body">
                  
                  <p class="card-text">. " To give life abundantly "</p>
                  <p class="card-text">. To provide the most advanced & scientific, curative, <br> preventive & promotive healthcare that leads to an <br> ‘abundance of life’.</p>
                  <p class="card-text">. To undertake specialized and holistic healthcare services of <br> world standard and to provide them to all sections of the <br> society, with special concern for the marginalized.</p>
                  <p class="card-text">. To grow into a model & global leader in healthcare, innovative <br> teacher in medical sciences & pioneering research centre on <br> health.</p>
                  
                </div>
              </div>
            </div>
          </div>
    
         
        
    
    </section>
    <section class="main-img">
           <h1>Message From Fr. <br>
            Provincial
            </h1>

           <h3>Rev. Fr. Benny Nalkara CMI <br>
            ( Provincial & President of RHE Trust)</h3>

            <p>The vision of M.C Hospital, as we can read above, is  <br> ‘to give life abundantly’. As an institution of healthcare, <br> the hospital  tries to implement this vision by translating <br> it into its mission. It is the continuation of the vision <br> and mission we have inherited in a very humble and <br> modest way from Jesus himself, who came ‘to give <br> life in abundance’.</p>
            <h3>Dr. Prathap C Reddy,</h3>
            <h5> Founder Chairman of the M.C Hospitals Group</h5>
    </section>
    <section id="finalpart"> 

      <table class="table table-striped" style="border: 2px;">
        <thead>
          <tr>
            <th colspan="2" style="text-align: center;">AT A GLANCE</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hospital</td>
            <td>72</td>
            
          </tr>
          <tr>
           <td>No. of Beds</td>
            <td>Over 12000</td>
            
          </tr>
          <tr >
            
            <td>No. of Pharmacies</td>
            <td>4,500+</td>
            
          </tr>
          <tr>
            <td>No. of Primary Care clinics</td>
             <td>Over 120</td>
             
           </tr>
           <tr>
            <td>No. of Diagnostic centres</td>
             <td>700+</td>
             
           </tr>
           <tr>
            <td>No. of Telemedicine Centres</td>
             <td>500+</td>
             
           </tr>
          <tr>
            <td>No. of Medical education centres and research foundation</td>
             <td>Over 15</td>
             
           </tr>
        </tbody>
      </table>

    </section>
</body>
</html>
{% endblock%}